.DS_Store
*.tflite
*.scorer
venv
venv*
__*
Lab 3/en_US-lessac-medium.onnx.json
.gitignore
Lab 3/en_US-lessac-medium.onnx
Lab 3/part 2/en_GB-northern_english_male-medium.onnx
Lab 3/part 2/en_GB-northern_english_male-medium.onnx.json
Lab 3/part 2/en_GB-semaine-medium.onnx
Lab 3/part 2/en_GB-semaine-medium.onnx.json
